@font-face {
    font-family: 'Inter Bold';
    src: url(components/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: 'Inter ExtraBold';
    src: url(components/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: 'Inter Regular';
    src: url(components/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter Light';
    src: url(components/fonts/static/Inter-Light.ttf);
}

@font-face {
    font-family: 'Inter Variable';
    src: url(components/fonts/static/Inter-VariableFont_slnt\,wght.ttf);
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.app{
    position: relative;
    width: 1440px;
    min-height: 100vh;
    background-color: #FEFDF9;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

nav{
    position: absolute;
    top: 4.697rem;
    display: flex;
    height: 70px;
    width: 76.98%;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 2.4rem;
    list-style: none;
}

ul li {
    font-family: 'Inter Regular';
    font-weight: 100;
    font-size: 1rem;
    color: hsl(236, 15%, 41%);
    cursor: pointer;
}

ul li:hover{
    color: hsl(5, 85%, 63%);
}

.mobile-menu{
    display: none;
}

.top-content{
    position: absolute;
    top: 11.5rem;
    left: 10.3rem;
    width: 58.29%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.87rem;
}

.top-left{
    position: relative;
    display: flex;
    flex-direction: column;
}

.web3-image{
    font-family: 'Inter ExtraBold';
    height: 300px;
    width: 730px;
}

.top-left-description{
    display: flex;
    justify-content:baseline;
    gap: 3.782rem;
}

h1{
    font-family: 'Inter Bold';
    font-weight: 700;
    font-size: 3.5rem;
    width: 320px;
    margin-top: 2.2rem;
    line-height: 55.8px;
    letter-spacing: -.3px;
}

.left-description{
    font-size: 15px;
    font-family: 'Inter Light';
    width: 335px;
    line-height: 24.79px;
    margin-top:1.8rem;
    color:  hsl(236, 15%, 41%);
    font-weight: 300;
    opacity: 0.9;
    letter-spacing: .1px;
}

.more{
    height: 50px;
    width: 185px;
    background-color: hsl(5, 85%, 63%);
    border: none;
    position: relative;
    top: 19.5px;
    font-family: 'Inter Regular';
    font-size: 15px;
    color: #FFEDE8;
    letter-spacing: 4px;
    cursor: pointer;
}

.more:hover{
    background-color: #00001A;
    color: white;
}


@media only screen and (min-width:320px) and (max-width:760px){
    body{
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #FEFDF9;
    }
    
    .app{
        position: relative;
        top: -6rem;
        width: 100%;
        min-height: 1024px;
        background-color: #FEFDF9;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    
    nav{
        position: absolute;
        top: 4.697rem;
        min-height: 100vh;
        display: flex;
        width: 76.98%;
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        position: absolute;
        height: 1.8rem;
        width: 2.8rem;
        left: -1.8rem;
        top: 3rem;
    }
    
    .hideLinks{
        display: flex;
        flex-direction: column;
        display: none;
    }
    
    ul li {
        font-family: 'Inter Regular';
        font-weight: 100;
        font-size: 1rem;
        color: hsl(236, 15%, 41%);
    }

    .mobile-menu{
        display: block;
        position: absolute;
        right: -1.7rem;
        top: 3.36rem;
        z-index: 80;
    }
    
    .showLinks{
        list-style: none;
        width: 70%;
        height: 100vh;
        background-color: #FEFDF9;
        display: flex;
        flex-direction: column;
        gap: 1.56rem;
        z-index: 40;
        align-items: flex-start;
        align-self: flex-end;
        position: fixed;
        right: -10%;
    }

    .showLinks::after{
        position: absolute;
        left: -70%;
        content: '';
        height: 100vh;
        width: 70%;
        float: left;
        background-color: hsl(240, 100%, 5%);
        opacity: 0.4;
    }

    .showLinks li{
        position: relative;
        top: 11.35rem;
        left: -.88rem;
        font-family: 'Inter Regular';
        font-weight: 100;
        font-size: 1.1rem;
        color: hsl(240, 100%, 5%);
    }

    .top-content{
        position: relative;
        top: 11.5rem;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    
    .top-left{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .web3-image{
        height: 300px;
        width: 92%;
    }
    
    .top-left-description{
        display: flex;
        flex-direction: column;
        width: 92%;
    }
    
    h1{
        font-family: 'Inter Bold';
        font-weight: 700;
        font-size: 2.5rem;
        width: 320px;
        line-height: 40px;
        letter-spacing: -.3px;
        margin-top: 1.5rem;
    }
    
    .left-description{
        font-size: 15px;
        font-family: 'Inter Light';
        width: 335px;
        line-height: 26px;
        color:  hsl(236, 15%, 41%);
        font-weight: 300;
        opacity: 0.9;
        letter-spacing: .1px;
        margin-top: -4.5rem;
    }
    
    .more{
        height: 50px;
        width: 185px;
        background-color: hsl(5, 85%, 63%);
        border: none;
        position: relative;
        top: 9px;
        font-family: 'Inter Regular';
        font-size: 15px;
        color: #FFEDE8;
        letter-spacing: 4px;
    }
}

@media only screen and (min-width:761px) and (max-width:1100px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FEFDF9;
     }
     
     .app{
         position: relative;
         top: -6rem;
         width: 100%;
         min-height: 1024px;
         background-color: #FEFDF9;
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         
     }
     
     nav{
         position: absolute;
         top: 4.697rem;
         min-height: 100vh;
         display: flex;
         width: 76.98%;
         align-items: center;
         justify-content: space-between;
     }
 
     .logo{
         position: absolute;
         height: 1.8rem;
         width: 2.8rem;
         left: -1.8rem;
         top: 3rem;
     }
     
     .hideLinks{
         display: flex;
         flex-direction: column;
         display: none;
     }
     
     ul li {
         font-family: 'Inter Regular';
         font-weight: 100;
         font-size: 1rem;
         color: hsl(236, 15%, 41%);
     }
 
     .mobile-menu{
         display: block;
         position: absolute;
         right: -1.7rem;
         top: 3.36rem;
         z-index: 80;
     }
     
     .showLinks{
         list-style: none;
         width: 70%;
         height: 100vh;
         background-color: #FEFDF9;
         display: flex;
         flex-direction: column;
         gap: 1.56rem;
         z-index: 40;
         align-items: flex-start;
         align-self: flex-end;
         position: fixed;
         right: -10%;
     }
 
     .showLinks::after{
         position: absolute;
         left: -70%;
         content: '';
         height: 100vh;
         width: 70%;
         float: left;
         background-color: hsl(240, 100%, 5%);
         opacity: 0.4;
     }
 
     .showLinks li{
         position: relative;
         top: 11.35rem;
         left: -.88rem;
         font-family: 'Inter Regular';
         font-weight: 100;
         font-size: 1.1rem;
         color: hsl(240, 100%, 5%);
     }
 
     .top-content{
         position: relative;
         top: 11.5rem;
         left: 0;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 3rem;
     }
     
     .top-left{
         position: relative;
         display: flex;
         width: 100%;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }
     
     .web3-image{
         height: 300px;
         width: 92%;
     }
     
     .top-left-description{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         width: 92%;
         max-width: 700px;
     }
     
     h1{
         font-family: 'Inter Bold';
         font-weight: 700;
         font-size: 2.5rem;
         width: 320px;
         line-height: 40px;
         letter-spacing: -.3px;
         margin-top: 1.5rem;
     }
     
     .left-description{
         font-size: 15px;
         font-family: 'Inter Light';
         width: 335px;
         line-height: 26px;
         color:  hsl(236, 15%, 41%);
         font-weight: 300;
         opacity: 0.9;
         letter-spacing: .1px;
         margin-top: 1.5rem;
     }
     
     .more{
         height: 50px;
         width: 185px;
         background-color: hsl(5, 85%, 63%);
         border: none;
         position: relative;
         top: 9px;
         font-family: 'Inter Regular';
         font-size: 15px;
         color: #FFEDE8;
         letter-spacing: 4px;
     }
}

.top-right{
    display: flex;
    justify-content: center;
    position: relative;
    height: 511px;
    width: 351px;
    background-color: hsl(240, 100%, 5%);
}

.top-right-contents{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    margin-left: 1.58rem;
    

}

h2{
    font-size: 2.4rem;
    color: hsl(35, 77%, 62%);
    font-family: 'Inter Regular';
    position: relative;
    margin-top: 4rem;
}

.top-right-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -2.33rem;
}

.head{
    color: #FAFAFF;
    font-family: 'Inter Regular';
    font-size: 1.27rem;
    font-weight: 700;
    position: relative;
    top: 12px;
    letter-spacing: -.3px;
    cursor: pointer;
}

.head:hover{
    color: hsl(35, 77%, 62%);
}

.description{
    font-family: 'Inter Regular';
    color: #BCBDD2;
    font-weight: 100;
    font-size: 15px;
    width: 92%;
    position: relative;
    top: -.9rem;
    line-height: 25px;
}

.field-bar{
    height: 1px;
    width: 92.5%;
    background-color: hsl(236, 13%, 42%);
    position: relative;
    top: 2px;
}

@media only screen and (min-width:320px) and (max-width:760px){
    .top-right{
        display: flex;
        justify-content: center;
        align-self: center;
        position: relative;
        top: 1.5rem;
        height: 490px;
        width: 92%;
        max-width: 600px;
        background-color: hsl(240, 100%, 5%);
    }
    
    .top-right-contents{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        margin-left: 1.3rem;
        
    
    }
    
    h2{
        font-size: 2rem;
        color: hsl(35, 77%, 62%);
        font-family: 'Inter Regular';
        position: relative;
        top: -5px;
    }
    
    .top-right-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        top: -2.2rem;
    }
    
    .head{
        color: #FAFAFF;
        font-family: 'Inter Regular';
        font-size: 1.27rem;
        font-weight: 700;
        position: relative;
        top: 15px;
        letter-spacing: -.3px;
    }
    
    .description{
        font-family: 'Inter Regular';
        color: #BCBDD2;
        font-weight: 100;
        font-size: 15px;
        width: 92%;
        position: relative;
        top: -.9rem;
        line-height: 25px;
    }

    .last-desc{
        position: relative;
        top: 11px;
    }
}

@media only screen and (min-width:761px) and (max-width:1100px){
    .top-right{
        display: flex;
        justify-content: center;
        align-self: center;
        position: relative;
        top: 3.5rem;
        height: 490px;
        width: 92%;
        max-width: 600px;
        background-color: hsl(240, 100%, 5%);
    }
    
    .top-right-contents{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        margin-left: 1.3rem;
        
    
    }
    
    h2{
        font-size: 2rem;
        color: hsl(35, 77%, 62%);
        font-family: 'Inter Regular';
        position: relative;
        top: -5px;
    }
    
    .top-right-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        top: -2.2rem;
    }
    
    .head{
        color: #FAFAFF;
        font-family: 'Inter Regular';
        font-size: 1.27rem;
        font-weight: 700;
        position: relative;
        top: 15px;
        letter-spacing: -.3px;
    }
    
    .description{
        font-family: 'Inter Regular';
        color: #BCBDD2;
        font-weight: 100;
        font-size: 15px;
        width: 92%;
        position: relative;
        top: -.9rem;
        line-height: 25px;
    }

    .last-desc{
        position: relative;
        top: 11px;
    }
}

/* ******************************** Bottom part *******************8****/

.bottom-wrap{
    position: relative;
    top: 22rem;
    display: flex;
    justify-self: center;
    gap: 2rem;
    width: 76.98%;
}

.headline-card{
    display: flex;
    width: 351px;
    gap: 1.5rem;
}

.headline-img{
    width: 100px;
    height: 128px;
}

.heading-details{
    display: flex;
    flex-direction: column;
}

.headline-id{
    color: #C8C5CD;
    font-family: 'Inter Regular';
    font-size: 2rem;
    margin-bottom: -2rem;
    margin-top: -4px;
}

.headline-heading{
    color: #060415;
    font-family: 'Inter Bold';
    font-size: 1.1rem;
    position: relative;
    font-weight: 400;
    top: 11px;
    letter-spacing: .2px;
    cursor: pointer;
}

.headline-heading:hover{
    color: hsl(5, 85%, 63%);
}

.headline-details{
    font-family: 'Inter Light';
    font-size: 15px;
    color: hsl(236, 15%, 41%);
    line-height: 25px;
    position: relative;
    top: -1.5rem;
    letter-spacing: .1px;
}

@media only screen and (min-width:320px) and (max-width:760px){
    .bottom-wrap{
        flex-direction: column;
        align-content: center;
        top: 17rem;
        width: 92%;
        justify-content: center;
        gap: 1px;
        margin-bottom: 3rem;
    }

    .headline-card{
        margin-bottom: -5px;
    }

    .headline-details{
        padding-right: 7px;
    }
}

@media only screen and (min-width:761px) and (max-width:1100px){
    .bottom-wrap{
        display: flex;
        flex-direction: column;
        align-content: center;
        top: 17rem;
        width: unset;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .headline-details{
        padding-right: 7px;
    }
}



